@import "template.css";
#courses {
    display: flex;
    flex-direction: row;
    padding-bottom: 6rem;
}

.courses-col {
    margin-right: 2rem;
    background-color: rgba(216,211,235, .5);
    padding: 1rem;
    border-radius: 20px;
    width: 30%;
}
label {
    display: inline-block;
}
.footer{width: 100%;height: var(--header-height);position: fixed;display: flex;align-items: center;justify-content: space-evenly;background-color: #F0F1F7;z-index: var(--z-fixed);transition: .5s; height: calc(var(--header-height) + 1rem);padding: 0 2rem 0 calc(var(--nav-width) + 2rem); z-index: 99;}

.submit {
    padding: 0.5em;
    background: var(--first-color);
    color: var(--white-color);
    border: none;
    border-radius: 30px;
    font-weight: 600;
  }

table, th, td {
    border:1px solid black;
    padding: 0.5rem;
}
table {
    border-collapse: collapse;
    border-radius: 20px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #666; /* this draws the table border  */ 
    margin-bottom: 1rem;
}

td {
    border: 1px solid #ccc;
}

